.r-loading{
    &.r-loading-1{
        position: fixed;
        right: 0; left: 0; top: 0; bottom: 0;
        z-index: 888;
        .r-loading-content{
            position: fixed;
            z-index: 889;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(1.25);
            transform-origin: center center;
            background: rgba(0,0,0,.78);
            border-radius: 6px;
            text-align: center;
            max-width: 120px;
            min-width: 100px;
            .r-loading-svg{
                margin: 25px 35px 8px 35px;
                text-align: center;
                font-size: 0;
            }
            .r-loading-text{
                color: #fff;
                font-size: 12px;
                line-height: 18px;
                margin: 0 20px 20px 20px;
            }
        }
    }
    &.r-loading-2{
        .r-loading-content{
            text-align: center;
            transform: scale(0.5);
            transform-origin: center center;
        }
    }
}